@import "helpers/vars";

.base-input {
	all:           initial;
	box-shadow:    0 0 4px 0 rgba(0, 0, 0, 0.2);
	border:        2px solid $light-dark;
	padding:       8px;
	transition:    .3s;
	border-radius: 12px;

	&:focus {
		border-color: #4687ff;
		box-shadow:   0 0 7px 2px rgba(3, 209, 255, 0.53);
	}
}
